@model List<Blog.Model.Data.Category>
@{
    if (TempData["Result"] != null)
    {
        if (((string)TempData["Result"]).Contains("başarı"))
        {
            <div class="alert alert-success">
                <strong>Tamam! </strong>@((string)TempData["Result"])
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Hata! </strong>@((string)TempData["Result"])
            </div>
        }
    }
}
    <form asp-controller="Category" asp-action="Add">
        <button class="btn btn-success" type="submit">Ekle</button>
    </form>

    <table id="CategoryEditorTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adı</th>
                <th>Kayıt Tarihi</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>

            @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.CreateDate.ToString()</td>
                    <td>
                        <form class="col-md-3" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-primary">Düzenle</button>
                        </form>
                        <form class="col-md-1" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>

                    </td>
                </tr>
            }
            }

        </tbody>
    </table>
    @section scripts{
        <script>
            $(document).ready(function () {
                $("#CategoryEditorTable").dataTable();

            });
        </script>}
