@model List<Blog.Model.Data.Entry>
@{
    if (TempData["Result"] != null)
    {
        if (((string)TempData["Result"]).Contains("başarı"))
        {
            <div class="alert alert-success">
                <strong>Tamam! </strong>@((string)TempData["Result"])
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Hata! </strong>@((string)TempData["Result"])
            </div>
        }
    }
}
<div class="btn-group">
    <form class="fl" asp-controller="Entry" asp-action="Add">
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Ekle</button>
    </form>
    <form class="fr" asp-controller="Admin" asp-action="Category">
        <button class="btn btn-primary" type="submit"><i class="fa fa-pencil"></i> Kategorileri Düzenle</button>
    </form>
</div><br /><br />
<table id="BlogEditorTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>Kategoriler</th>
            <th>Kayıt Tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CreateDate.ToString()</td>
                    <td>
                        <form class="col-md-3" asp-controller="Entry" asp-action="Edit" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-primary">Düzenle</button>
                        </form>
                        <form class="col-md-1" asp-controller="Entry" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>

                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#BlogEditorTable").dataTable();

        });
    </script>}
